/* start global rules */
:root {
  --mainColor: #19c8fa;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing:border-box ;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
  }

ul {
    list-style: none;
}

.container {
    /* padding for resolving mobile dims */
    padding-left: 15px;
    padding-right: 15px;
    /* margin for centering the element */
    margin-left: auto;
    margin-right: auto;
  }
  /* Small */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Medium */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
/* End Global Rules */
/* --------------------------- */
/* temporary classes  */
/* 
body{
   background-color: tomato; 
} */

/* --------------------------- */
/* start header  */
header {
  position: absolute;
  /* left: 0; */
  width: 100%;
  z-index: 2;

}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 10px;
  /* padding-bottom: 10px; */
  min-height: 77px;
}

/* logo image */
.logo img {
  height: 50px;
}

/* line under header */
header div.container::after{
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  align-items: center;
  z-index: -1;
}

/* nav bar */
nav {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* nav icon */
nav i.toggle {
  color: white;
  font-size: 22px;
}
@media (min-width: 768px ){
  header .container .toggle {
    display: none;
} 
}

/* nav list of links */
nav ul {
  display: flex;
}
@media (max-width:767px){
  nav ul {
    display: none;
  }
  header .container .toggle:hover +ul {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #0000004a;
  }
  header .container a{
    padding: 15px;
  }

}

header nav ul li a {
  padding: 25px 10px;
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition:0.3s ;
}
.active,
header nav ul li a:hover {
  color: #19c8fa;
  border-bottom: 1px solid #19c8fa;
  z-index: 1;
}

/* search icon */
header .search {
  padding-left: 20px;
  color: white;
  border-left: 1px solid;
  margin-left: 50px;
  font-size: 20px;
}

/* --------------------------- */
/* start landing  */
.landing{
  min-height: 100vh;
  background-color: #1f2021;
  background-image:url("../photos/H1.png") ;
  background-image:url("../photos/landing.jpg") ;
  background-size: cover;
  position: relative;
}

.landing .overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 30%);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.landing .overlay .text {
  background-color: rgb(15 116 143 / 40%);
  width: 40%;
  /* height: 200px; */
  position: absolute;
  top:50%;
  left: 0;
  transform: translateY(-50%);
  padding: 80px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width:767px){
  .landing .overlay .text{
    width: 100%;
    padding: 50px;

  }
  .landing .overlay .text .content{
    width: 100%;
    
  }
}

.landing .overlay .text .content {
  max-width: 500px;
}

.landing .overlay .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.landing .overlay .content p{
  font-size: 14px;
  line-height: 2;
}

.arrows-and-dots i {
  position: absolute;
  color: white;
  top: 50%;
  transform: translateY(-50%);
}
.arrows-and-dots .fa-angle-left  {
  position: absolute;
  left: 30px;
}

.arrows-and-dots .fa-angle-right  {
  position: absolute;
  right: 30px;
}
@media (max-width:767px){
  .arrows-and-dots .fa-angle-left{
    display: none;
  }
  .arrows-and-dots .fa-angle-right {
    display: none;
  }
}
.bullets {
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);

}

.bullets li {
  border-radius: 50%;
  border: 1px solid white;
  width: 20px;
  height: 20px;
  margin: 10px;

}

 li.activeb{
  background-color:#19c8fa ;
  border-color: #19c8fa ;
}

/* end header  */
/* --------------------------- */
/* start section  */

.container .content-section {
    /* display: flex; */
    /* flex-direction: column; */
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    /* width: 100%; */
    position: relative;
    

}
.container .content-section::before{
    content: '';
    width: 100px;
    height: 2px;
    position: absolute;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    bottom: 60px;

}
.container .content-section::after{
  content: '';
  height: 10px;
  width: 10px;
  border: 2px solid black;
  position: absolute;
  bottom: 54.5px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: white;
}


.content-section h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
  position: relative;
  margin: 0 0 40px 0;
  text-transform: uppercase;
}

.content-section p {
  font-size: 14px;
  line-height: 2;
  width: 500px;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100%;
  color: #777;

}
/* end section  */
/* --------------------------- */
/* start services */

.srv-container{
  /* margin: 0 100px; */
  display: grid;
  margin-top: 200px;

}
@media (min-width:768px){
  .srv-container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr) );
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }

}

@media (max-width:768px){
  .srv-box {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .srv-box i {
    margin-right: 0 !important;  
  }


}
.srv-box {
  display: flex;
  margin-bottom: 50px;
}

.srv-box i {
  font-size: 50px;
  margin-right: 50px;
  margin-bottom: 50px;

}

.srv-box h2 {
  font-size: 20px;
  margin-bottom: 30px;
  color: #19c8fa;
}

.srv-box p {
  line-height: 2;
  color: #777;
}

/* end services  */
/* --------------------------- */
/* start mob-section */

.mob-section{
  min-height: 50vh;
  /* background-color: #1f2021; */
  background-image:url("../photos/123.jpeg") ;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.mob-section  .text {
  background-color: rgb(15 116 143 / 40%);
  width: 40%;
  /* height: 200px; */
  position: absolute;
  top:50%;
  right: 0;
  transform: translateY(-50%);
  padding: 80px;
  color: white;
  display: flex;

}

.mob-section .img img {
  position: absolute;
  bottom: -15%;
  left: 25%;
}

@media (max-width:767px){
  .mob-section  .text{
    width: 100%;
    padding: 40px;

  }
  .mob-section  .text .content{
    width: 100%;
    
  }
  .mob-section .img img {
    display: none;
  }
}

.mob-section  .text .content {
  max-width: 500px;
}

.mob-section .content h2 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}

.mob-section .content li{
  font-size: 14px;
  line-height: 2;
}

.mob-section .content li::before {

  font-family: 'Font Awesome 5 Free';
  content: '\f108';
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;

}


/* end mob-section  */
/* --------------------------- */
/* start buttons potfolio */
.container .bottuns {
  display: flex;
  text-align: center;
  justify-content: center;
  /* flex-direction: row; */
  margin: 70px auto;
}

.container .bottuns ul {
  display: flex;
  gap: 10px;
}

.container .bottuns li {
  padding: 5px 20px;
}
.container .bottuns li a {
  text-decoration: none;
  color: black;
}

.container .bottuns ul li:hover {
  background-color: var(--mainColor);
}
.container .bottuns ul li a:hover  {
  color: white;
}
.container .bottuns ul li {
  cursor: pointer;
}

@media (max-width: 992px) {
  .container .bottuns li {
    padding: 5px 10px;
  }
}
/* Small */
@media (max-width: 768px) {
  .container .bottuns li {
    padding: 5px 5px;
  }
}

/* end buttons potfolio  */
/* --------------------------- */
/* start potfolio */
.img-container-p{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;

}
.img-box {
  width: 25%;
  position: relative;
  overflow: hidden;

}
/* Large */
@media (max-width: 1200px) {
  .img-box {
    width: 25%;
    }
}
/* Medium */
@media (max-width: 992px) {
  .img-box {
    width: 50%;
    }
}
/* Small */
@media (max-width: 768px) {
  .img-box {
    width: 100%;
    }
}

.img-box .img img {
  transition: 0.3s;
  width: 100%;
}

.img-box .text  {
  position: absolute;
  bottom: -101%;
  background-color: white;
  width: 100%;
  padding: 5px;
  transition: 0.3s;
}

.img-box:hover .text {
  bottom: 0;
}
.img-box:hover img {
  transform: scale(110%);
}

.img-box .text h3 {
  font-weight: normal;
  font-size: 20px;
  margin-bottom: 7px;
  
}

.img-box .text p {
  color: var(--mainColor);
  margin-bottom: 3px;

}

/* end potfolio  */
/* --------------------------- */
/* start button */
.button-more {
  display: flex;
  justify-content: center;
}
.button-more a {
  margin: 20px auto;
  text-align: center;
  text-decoration: none;
  background-color: var(--mainColor);
  padding: 10px 25px;
  text-transform: capitalize;
  position: absolute;
  color: white;
}

/* end button  */
/* --------------------------- */
/* start vid-section */
.vid-section {
  height: 70vh;
  width: 100%;
  background-size: cover;
  position: relative;
  overflow: hidden;
  justify-content: center;
}

.vid-section .container .vid video {
  justify-content: center;
    text-align: center;
    display: flex;
    position: absolute;
    right: 50%;
    transform: translateX(50%);

}
.vid-section .container .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15 116 143 / 40%);
  width: 100%;
  position: absolute;
  top:50%;
  right:0;
  text-align: center;
  transform: translateY(-50%);
  padding: 55px;
  color: white;
  justify-content: center;

}


.vid-button{
  margin-top: 50px;
  background-color: #00000054;
  text-transform: capitalize;
  padding: 10px 20px;
}
.vid-button a {
  color: white;
  text-decoration: none;
}

.vid-section .content h2 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.vid-section .content p{
  font-size: 14px;
  line-height: 2;
}
/* end vid-section */
/* --------------------------- */
/* start about-img */

.about-img{
    /* min-height: 40vh; */
    background-color: white;
    background-size: cover;
    overflow: hidden;
    margin-top: 30px;
    position: relative;
    height: 300px;
}

.about-img img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  margin: 0 0 0 -46px;
  bottom: -125px;

}

@media (max-width:767px){
  .about-img img {
    height: 171px;
    margin: -1px 0 0 -12px;
    bottom: 71px;
  }

}

/* end mob-section  */
/* --------------------------- */
/* start statics */
.stats {
  min-height: 35vh;
  background-image:url("../photos/123.jpeg") ;
  background-size: cover;
  /* position: relative; */
  overflow: hidden;
  text-align: center;
  align-items: center;
  display: flex;
  padding-top: 15px;
  padding-bottom: 15px;
}

.stats .container {
  display: flex;
  background-color: rgb(15 116 143 / 40%);
  justify-content: space-around;
  padding: 30px;
  flex-wrap: wrap;

}

.box {
  display: flex;
  color: white;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.box i {
  font-size: 35px;
  /* if you want to make background for icons
  recommit the comment beneath
  */

  /* display: flex;
  background-color: black;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  justify-content: center;
  align-items: center; */

}
.box h1 {
  font-weight: bold;
  font-size: 45px;
}

.box p {
  font-size: 15px;
}

  /* Small */
  @media (max-width: 767px) {
    .box {
      flex-basis: 100%;
    }
  }
  /* Medium */
  @media (min-width: 768px) {
    .box {
      flex-basis: 50%;
    }
  }
  /* Large */
  @media (min-width: 992px) {
    .box {
      flex-basis: 25%;
    }
  }

/* end statics  */
/* --------------------------- */
/* start skills */

.skill-sec {
  padding: 50px 0;
}

.skill-sec .left,
.skill-sec .right {
  padding: 20px 0;

}
.skill-sec .container {
  display: flex;
  justify-content: space-around;
}

.skill-sec .container .left,
.skill-sec .container .right {
  width: 40%;
  position: relative;
  
}

.skill-sec .container .left h3,
.skill-sec .container .right h3 {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  padding-bottom: 20px;

}
.skill-sec .container .left p,
.skill-sec .container .right p {
 color: #777;
}

.testo-content {
  display: flex;
  margin: 40px auto;
  padding-bottom: 25px;
  border-bottom: 1px solid #7777776b;
}

.testo-content img {
  height: 100px;
  border-radius: 50%;
  margin-right: 30px;
}

.testo-content .text p {
    margin: 17px auto 0;
    text-align: left;
    display: flex;
    justify-content: flex-end;
}

.left ul {
  position: absolute;
  border: 0;
  bottom: -20px;
}

.left li {
  border: 1px solid #777;
}

.left li.active {
  background-color: #19c8fa;
  border: 1px solid #19c8fa;
  z-index: 10;
}

.left .testo,
.right .our-skills{
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right .prog-container {
  margin: 40px , auto;
}

.right .progress {
padding: 30px 0;
}

.proced span {
  display: flex;
  background-color: violet;
  height: 20px;
  margin: 15px 0;
  position: relative;
}

.proced {
  background-color:#dedadc ;
}

.proced span::before {
  content:attr(data-progress);
  background-color: black;
  position: absolute;
  right: -15px;
  bottom: 30px;
  padding: 2px 5px;
  color: white;
  display: flex;
  justify-content: center;
  border-radius: 5px;
}

.proced span::after {
  content: '';
  border: 7px solid black;
  position: absolute;
  right: -7px;
  bottom: 17px;
  border-color: black transparent transparent transparent;
}

/* Small */
@media (max-width: 768px) {

  .skill-sec .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .skill-sec {
    padding: 0 ;
  }

  .skill-sec .container .left,
  .skill-sec .container .right {
    width: 80% !important;
  }
}

  
/* end skills  */
/* --------------------------- */
/* start quaute */

.quaute{
  background-image: url('../photos/123.jpeg');
  background-size: cover;
  height: 30vh;
  display: flex;
  color: white;
  text-align: center;
  align-items: center;
}

.quaute h3 {
  width: 60%;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
  line-height: 1.9;
  font-weight: normal;
}

.quaute p {
  padding: 10px 0;
}

@media (max-width: 768px) {

  .quaute h3 {
    width: 100%;
  }

}
/* <!-- start pricing --> */
.pricing {
  padding-top: 100px;
  padding-bottom: 60px;

}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  text-align: center;
}

.plan-text h4 {
  border-top: 1px solid var(--mainColor);
  width: 85%;
  margin: 5px auto;
  padding: 30px 0 0 0;
  color: #777;
  text-transform: capitalize;
}
.pricing h4 {
  cursor: pointer;
  text-decoration: none;

}

.pricing h4 a{
  text-decoration: none;
  color: black;
}
.pricing .container .plan .plan-text h1 {
border-bottom: 1px solid var(--mainColor);
width: 85%;
margin: 5px auto;
padding: 10px 0 30px 0;
}


.pricing .container .plan .plan-text h1 {
  font-size: 50px;
  font-weight: bold;
}


.pricing .container .plan .plan-text h1 span:first-of-type {
  font-size: 20px;
  position: relative;
  top: -30px;
  left: -10px;
  color: #777;
  text-transform: capitalize
}

.pricing .container .plan .plan-text h1 span:last-of-type {
  font-size: 20px;
  position: relative;
  color: #777;
  text-transform: capitalize

}

.Feature li{
  padding: 15px 0; 
  border-bottom: 1px solid var(--mainColor); 
  width: 40%;
  margin: 0 auto;
}

.plan .buy{
    margin: 55px auto;
    border: 1px solid var(--mainColor);
    width: fit-content;
    justify-content: center;

    text-align: center;
    padding: 10px;
} 

.section-tail {
  display: flex;
  text-align: center;
  margin: 0 auto;
  padding: 20px 0;
  flex-direction: column;
}

.section-tail h3 {
  width: 70%;
  margin: 0 auto;
  padding: 20px 0;
  color: #777;
}

.section-tail p {
  margin: 20px auto;
  padding: 10px;
  border:1px solid var(--mainColor);
  color: white;
  background-color: var(--mainColor);

}

/* <!-- end of pricing  --> */
/* <!-- start of subscribe  --> */
.subscribe {
  background-image: url(../photos/subscribe.jpg);
  background-size: cover;
  height: 25vh;
  display: flex;
  align-items: center;
  align-content: center;
  color: white;
}

.subscribe .container {
  position: relative;
  display: flex;
  align-items: center;

}


@media (max-width:991px){
  .subscribe .container {
  flex-direction: column;
}
.subscribe form {
  width: 100% !important;
}
}

.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;

}

.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 20px;

}

.subscribe form input[type='email'] {
  background: none;
  padding: 5px 5px 5px 50px;
  border: 1px solid white;
  caret-color: white;
  width: calc(100% - 130px);
  border-right: transparent;

}

.subscribe form input[type='submit'] {
  width: 130px;
  background-color: var(--mainColor);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: transparent;
  text-transform: uppercase;
}

.subscribe form ::placeholder{
  color: white;
}


.subscribe form input[type='email']:focus,
.subscribe form input[type='submit']:focus{
  outline: none;
}

.subscribe p {
  line-height: 1.9;
  margin-left: 50px;
}

@media (max-width:991px){
  .subscribe p {
  margin-left: 10px 0 0 0;
}
}
/* <!-- end of subscribe  --> */
/* <!-- start contact sec --> */

.contact {
  padding: 100px 0;
}

.contact .container {
  display: flex;
  justify-content: center;
}

.contact .container form {
  width: 60%;
  position: relative;

}

.contact .container form input {
  display: block;
  margin:  0 auto 30px auto;
  width: 100%;
  padding: 10px 20px;
  border: 1px solid #777;


}
.contact .container form textarea:focus,
.contact .container form input:focus {
  outline: none;
}

.contact .container form p {
    background-color: var(--mainColor);
    position: absolute;
    right: 0;
    padding: 10px;
    color: white;
}

.contact .container form textarea {
  display: block;
  margin: 30px 0;
  width: 100%;
  height: 200px;
  padding: 10px 20px;
  border: 1px solid #777;
}

.text-con{
  display: flex;
  flex-direction: column;
  margin: 0 50px;
}
.first-text h3{
  padding: 0 0 20px 0;
  font-size: 15px;
}
.first-text p{
  padding: 3px 0;
  color: #777777bf;
  font-size: 14px;
  font-weight: bold;
}

.second-text h3{
  padding: 60px 0;
  font-size: 15px;
}

.second-text address{
  color: #777777bf;
  font-style: normal;
  line-height: 1.5;
  font-size: 15px;
  font-weight: bold;
}
@media (max-width:991px){
  .contact .container {
    flex-direction: column;
    align-items: center;
  }
  .text-con {
    margin: 100px 50px;
    text-align: center;
  }

}
/* <!-- end contact sec --> */
/* <!-- start footer  --> */
footer {
  background-image: url(../photos/12345.jpg);
  background-size: cover;
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.footer-logo img {
  height: 50px;
  margin: 0 0 20px 0;
}

footer h3 {
  font-size: 20px;
  color: white;
  padding: 15px 40px 15px 40px;
  border-bottom: 1px solid var(--mainColor);
  font-weight: normal;
}

.social-footer-icons {
margin: 15px auto;
}
.social-footer-icons i{
  padding: 0 15px;
  color: white;
}

footer p {
  color: white;
  position: absolute;
  bottom: 25px;
  font-weight: normal;
  font-size: 15px;
}

footer p span {
  color: var(--mainColor);
}